.nav {
    grid-area: n;
    background-color: grey;
    padding: 20px;
  }


.item {
    color:cornsilk;
    padding: 2px;
    text-decoration: none;
}


.item a {
    text-decoration: none;
    color:cornsilk;
}